/*
* {
  margin: 0;
  padding: 0;
}
.logoAlura {
position: absolute;
top: 0.5em;
left: 0.5em;
height: 3em;
}
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
section {
  border-radius: 0.4em;
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 1em;
  position: relative;
  top: 5vh;
}

textarea {
  display: flex;
  flex: auto;
  position: relative;
  width: 75vh;
  height: 29vh;
  border-radius: 3em;
  text-align: left;
  justify-content: center;
  padding: 1em;
  font-size: 1.5em;
  border: none;
  transition: 0.7s;
}
textarea:focus{
  color: rgb(160, 5, 231);
  font-size: 1.8em;
  background-image:none;
  transition: 0.4s;
 }
.mensagem{
  background-image: url(./assets/garoto-lupa.png);
    background-repeat: no-repeat;
    background-position: right;
}
::placeholder{
  color: rgba(173
, 173, 173, 0.774);
font-size: 1.5em;
text-align: center;
}

button{
border: none;
border-radius: 3em;
background-color: rgb(160, 5, 231);
padding: 0.6em;
margin: 0.5em;
font-size: 1.5em;
color: #fff;
transition: 0.4s;
cursor: pointer;
}

button:hover{
background-color: rgb(222, 20, 248);
}
button:active{
  background-color: rgb(248, 20, 96);
  font-size: 1em;
}

.btn-copiar:disabled,
.btn-limpar:disabled {
background-color: rgba(222, 195, 235, 0.5);
cursor: default;
}

.logoAlura {
position: absolute;
top: 0.5em;
left: 0.5em;
height: 2em;
}

header {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 2em;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: linear-gradient(to bottom right, rgb(255, 211, 176), rgb(176, 221, 255));
}
*/

/* Default styles */
* {
  margin: 0;
  padding: 0;
}
.logoAlura {
  position: relative;
  top: 0.5em;
  left: 0.5em;
  height: 3em;
}
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
section {
  border-radius: 0.4em;
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 1em;
  position: relative;
  top: 5vh;
}
textarea {
  display: flex;
  flex: auto;
  position: relative;
  width: 75vh;
  height: 29vh;
  border-radius: 3em;
  text-align: left;
  justify-content: center;
  padding: 1em;
  font-size: 1.5em;
  border: none;
  transition: 0.7s;
}
textarea:focus {
  color: rgb(160, 5, 231);
  font-size: 1.8em;
  background-image: none;
  transition: 0.4s;
}
.mensagem {
  background-image: url(./assets/garoto-lupa.png);
  background-repeat: no-repeat;
  background-position: right;
}
::placeholder {
  color: rgba(173, 173, 173, 0.774);
  font-size: 1.5em;
  text-align: center;
}
button {
  border: none;
  border-radius: 3em;
  background-color: rgb(160, 5, 231);
  padding: 0.6em;
  margin: 0.5em;
  font-size: 1.5em;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: rgb(222, 20, 248);
}
button:active {
  background-color: rgb(248, 20, 96);
  font-size: 1em;
}
.btn-copiar:disabled,
.btn-limpar:disabled {
  background-color: rgba(222, 195, 235, 0.5);
  cursor: default;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 211, 176),
    rgb(176, 221, 255)
  );
}
/*

@media only screen and (max-width: 768px) {
  
  textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  
 
  textarea,
  button {
  font-size: 0.8em;
}
  
  
  textarea {
    height: 14vh;
    width: 58vh;
 }
    
  
  .mensagem{
   background-image: url(none);
    background-repeat: no-repeat;
    background-position: right;
  }
  textarea:focus{
  color: rgb(160, 5, 231);
  font-size: 1em;
  transition: 0.4s;
 }


}
*/
@media only screen and (max-width: 768px) {
  textarea {
    width: 100%;
  }
  .logoAlura {
    flex: auto;
    display: flex;
    top: 1vh;
    margin: 0vw;
    position: fixed;
  }

}

@media only screen and (max-width: 480px) {
  main {
    background-color: blue;
    display: flex;
    flex: auto;
    position: relative;
    max-width: 97vw;
    padding: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0vw;
    height: 75vh;
  }
  .logoAlura {
    flex: auto;
    display: flex;
    top: 1vh;
    margin: 0vw;
    position: fixed;
  }
  section {
    flex-direction: column;
    padding: 0.2em;
    position: relative;
    top: -6vh;
    align-items: center;

  }
  .botoes{
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
    width: 95vw;
    top: 14vh;
    position: relative;
  }
  button{
    font-size: 1.4em;
    padding: 1.8vh;
    flex: auto;
}
  
  textarea{
      flex: auto;
    width: 82vw;
    height: 23vh;
    top: 10vh;
  }


}
