*{
  background-color: azure;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  border-radius: 15px;
}
.logoAlura{
  margin-left: 10px;
  padding-top: 10px;
  width: 2%;
}

main{
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.textarea{
  border: none;
  color: #0a3871;
  margin-top: 98px;
  text-transform: lowercase;
}
::placeholder{
  color: rgb(146, 199, 199);
  .text-area:focus{
    outline:none;
  }
}
.mensage{
  background-color: aliceblue;
  background-image:url(./assets/garoto-lupa.png);
  background-repeat: no-repeat;
  border: none;
  color:#0a3871;
  margin-left: 98px;
  margin-top: 20px;
  padding-left: 20px;
  position: fixed;
}
.mensage:focus{
  outline: none;
}
.botoes{
  display: flex;
  margin-top: 18px;
}
